If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [6]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    if i % 3 == 0 or i % 5 ==0:
        print(i)

3
5
6
9

In [17]:
a = 0
for i in range(10):
    a+=i
print(a)

45

In [20]:
[i for i in range(10) if i%3==0]

[0, 3, 6, 9]

In [21]:
sum([1,2,3])

6

In [56]:
sum([i for i in range(1,1000) if i%3==0 or i%5==0])

233168

In [48]:
sum(set(range(1,1000,3)) | set(range(1,1000,5)))

232635

In [44]:
a={1,2,3}
type(a)

set